<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<!-- %- -->
</head>
<body>
<section class="section">
    <div class="container">
        <h1><%= good.price %></h1>
    </div>
    </div>
</section>
</body>
</html>